.panel-item {
  display: flex;
  justify-content: space-between; /* Alinear texto e interruptor */
  align-items: center; /* Centrar verticalmente */
  margin-bottom: 10px;
  font-size: 14px; /* Tamaño de fuente */
}
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color--background);
  transition: 0.4s;
  border-radius: 20px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: var(--color--texto);
  transition: 0.4s;
  border-radius: 50%;
  opacity: 0.9; /* Opacidad del círculo */
}
/* Cuando esta activado cambia de color */
input:checked + .slider {
  background-color: var(--color--background);
  background: linear-gradient(90deg,var(--color--background) 0%, var(--color--texto) 80%);


}
input:checked + .slider:before {
  transform: translateX(14px);
}

span{
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}

  .slider[class*=" "] {
  --color--background: var(--Morning-bg);
  --color--texto: var(--Morning-text);
}
  
  .slider.Morning{
    --color--background: var(--Morning-bg); 
    --color--texto: var(--Morning-text);
  }
  .slider.Autumn {
    --color--background: var(--Autumn-bg); 
    --color--texto: var(--Autumn-text);
  }
  .slider.Cottagecore{
    --color--background: var(--Cottagecore-bg); 
    --color--texto: var(--Cottagecore-text);
  }
  .slider.DarkAcademia{
    --color--background: var(--DarkAcademia-bg);
    --color--texto: var(--DarkAcademia-text); 
  }
  .slider.LightAcademia{
    --color--background: var(--LightAcademia-bg);
    --color--texto: var(--LightAcademia-text);
  }
  .slider.Y2K{
    --color--background: var(--Y2K-bg);
    --color--texto: var(--Y2K-text);
  }
  .slider.CleanGirl{
    --color--background: var(--CleanGirl-bg);
    --color--texto: var(--CleanGirl-text);
  }
  .slider.ParisianChic{
    --color--background: var(--ParisianChic-bg);
    --color--texto: var(--ParisianChic-text);
  }
  .slider.SummerBeach{
    --color--background:var(--SummerBeach-bg);
    --color--texto: var(--SummerBeach-text); 
  }
  .slider.VanillaAesthetic{
    --color--background: var(--VanillaAesthetic-bg);
    --color--texto: var(--VanillaAesthetic-text);
  }
  .slider.CatVibe{
    --color--background: var(--CatVibe-bg);
    --color--texto: var(--CatVibe-text);
  }
  .slider.DogVibe{
    --color--background: var(--DogVibe-bg);
    --color--texto: var(--DogVibe-text);
  }