.quote.Morning{
    --color--background: rgba(8, 117, 125, 0.3); 
    --color--texto: rgb(255, 255, 255);
  }
  .quote.Autumn {
    --color--background: rgba(79, 28, 1, 0.5); 
    --color--texto: rgb(255, 255, 255);
  }
  .quote.Cottagecore{
    --color--background: rgba(16, 41, 1, 0.3); 
    --color--texto: rgb(255, 255, 255);
  }
  .quote.DarkAcademia{
    --color--background: rgba(0, 0, 0, 0.3); 
    --color--texto: rgb(255, 255, 255);
  }
  .quote.LightAcademia{
    --color--background: rgba(255, 255, 255, 0.3); 
    --color--texto: rgb(255, 255, 255);
  }
  .quote.Y2K{
    --color--background: rgba(58, 113, 55, 0.3); 
    --color--texto: rgb(255, 255, 255);
  }
  .quote.CleanGirl{
    --color--background: rgba(255, 255, 255, 0.1); 
    --color--texto: rgba(18, 18, 18, 0.4);
  }
  .quote.ParisianChic{
    --color--background: rgba(224, 189, 189, 0.3); 
    --color--texto: rgb(255, 255, 255);
  }
  .quote.SummerBeach{
    --color--background: rgba(1, 98, 61, 0.3); 
    --color--texto: rgb(255, 255, 255);
  }
  .quote.VanillaAesthetic{
    --color--background: rgba(253, 211, 166, 0.5); 
    --color--texto: rgba(18, 18, 18, 0.6);
  }
  .quote.CatVibe{
    --color--background: rgba(0, 0, 0, 0.5); 
    --color--texto: rgb(255, 255, 255);
  }
  .quote.DogVibe{
    --color--background: rgba(0, 0, 0, 0.5); 
    --color--texto: rgb(255, 255, 255);
  }

.quote{
    background-color: var(--color--background); 
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    opacity:0.7;
    padding: 10px;
    text-align: center;
    width: 800px;
    position: relative ;
}
  .author {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    color:var(--color--texto);
  }
  p{
    align-items: center;
    color:var(--color--texto);
    display: flex;
    font-size: 1.5rem;
    font-weight:lighter;
    justify-content: center;
  }
  