  .quote[class*=" "] {
  --color--background: var(--Morning-bg);
  --color--texto: var(--Morning-text);
}
  
  .quote.Morning{
    --color--background: var(--Morning-bg); 
    --color--texto: var(--Morning-text);
  }
  .quote.Autumn {
    --color--background: var(--Autumn-bg); 
    --color--texto: var(--Autumn-text);
  }
  .quote.Cottagecore{
    --color--background: var(--Cottagecore-bg); 
    --color--texto: var(--Cottagecore-text);
  }
  .quote.DarkAcademia{
    --color--background: var(--DarkAcademia-bg);
    --color--texto: var(--DarkAcademia-text); 
  }
  .quote.LightAcademia{
    --color--background: var(--LightAcademia-bg);
    --color--texto: var(--LightAcademia-text);
  }
  .quote.Y2K{
    --color--background: var(--Y2K-bg);
    --color--texto: var(--Y2K-text);
  }
  .quote.CleanGirl{
    --color--background: var(--CleanGirl-bg);
    --color--texto: var(--CleanGirl-text);
  }
  .quote.ParisianChic{
    --color--background: var(--ParisianChic-bg);
    --color--texto: var(--ParisianChic-text);
  }
  .quote.SummerBeach{
    --color--background:var(--SummerBeach-bg);
    --color--texto: var(--SummerBeach-text); 
  }
  .quote.VanillaAesthetic{
    --color--background: var(--VanillaAesthetic-bg);
    --color--texto: var(--VanillaAesthetic-text);
  }
  .quote.CatVibe{
    --color--background: var(--CatVibe-bg);
    --color--texto: var(--CatVibe-text);
  }
  .quote.DogVibe{
    --color--background: var(--DogVibe-bg);
    --color--texto: var(--DogVibe-text);
  }

.quote{
    background-color: var(--color--background); 
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    opacity:0.7;
    padding: 10px;
    text-align: center;
    width: 800px;
    position: relative ;
}
  .author {
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    color:var(--color--texto);
  }
  p{
    align-items: center;
    color:var(--color--texto);
    display: flex;
    font-size: 1.5rem;
    font-weight:lighter;
    justify-content: center;
  }
  