.time-button{
    padding: 10px 20px;
    margin-right: 1rem;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 253, 253);
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
background-color: rgba(55, 65, 81, 0.8); /* Sin fondo */
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity:0.7;
}
.time-options{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

