
.contenedorBotones{
  display:flex;
  justify-content: center;
  align-items: center;
}


.boton-option {
    background-color: var(--color--background);
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: var(--color--texto);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 1rem;
    opacity:0.7;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}
  .boton-option [class*=" "] {
  --color--background: var(--Morning-bg);
  --color--texto: var(--Morning-text);
}
  
  .boton-option.Morning{
    --color--background: var(--Morning-bg); 
    --color--texto: var(--Morning-text);
  }
  .boton-option.Autumn {
    --color--background: var(--Autumn-bg); 
    --color--texto: var(--Autumn-text);
  }
  .boton-option.Cottagecore{
    --color--background: var(--Cottagecore-bg); 
    --color--texto: var(--Cottagecore-text);
  }
  .boton-option.DarkAcademia{
    --color--background: var(--DarkAcademia-bg);
    --color--texto: var(--DarkAcademia-text); 
  }
  .boton-option.LightAcademia{
    --color--background: var(--LightAcademia-bg);
    --color--texto: var(--LightAcademia-text);
  }
  .boton-option.Y2K{
    --color--background: var(--Y2K-bg);
    --color--texto: var(--Y2K-text);
  }
  .boton-option.CleanGirl{
    --color--background: var(--CleanGirl-bg);
    --color--texto: var(--CleanGirl-text);
  }
  .boton-option.ParisianChic{
    --color--background: var(--ParisianChic-bg);
    --color--texto: var(--ParisianChic-text);
  }
  .boton-option.SummerBeach{
    --color--background:var(--SummerBeach-bg);
    --color--texto: var(--SummerBeach-text); 
  }
  .boton-option.VanillaAesthetic{
    --color--background: var(--VanillaAesthetic-bg);
    --color--texto: var(--VanillaAesthetic-text);
  }
  .boton-option.CatVibe{
    --color--background: var(--CatVibe-bg);
    --color--texto: var(--CatVibe-text);
  }
  .boton-option.DogVibe{
    --color--background: var(--DogVibe-bg);
    --color--texto: var(--DogVibe-text);
  }
