.youtube-container {
  position: fixed;
  bottom:10px;
  left: 10px;
  width: 420px;
  height: 45%;
  border-radius: 8px;

  overflow: hidden;
}

.iframe-container {
  margin: 10px;
}

.youtube-button {
  background: none;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 1001;
  border: none;
  cursor: pointer;

}

.youtube-button img {
  position: fixed;
  bottom: 10px;
  width: 50px;
  height: 40px;
}

.form-toggle-buttons {
  position: absolute;
  bottom: 35px;
  right: 10px;
  z-index: 1002;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-button img {
  width: 10px;
  height: 10px;
}

.search-form {
  position:absolute;
  bottom: 5px;
  right: 10px;
  overflow: hidden;
}

.search-input {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
}

.search-button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
}