
.hamburger-button {
  align-items: center;
  background-color: var(--color--background);
  border-radius: 10px; 
  border: none;
  color: var(--color--texto);
  cursor: pointer;
  display: flex;
  font-size: 25px;
  height: 2.5rem;
  justify-content: center;
  margin-bottom: 0.5rem;
  opacity: 0.7;
  width: 2.5rem;
}

.hamburger-button[class*=" "] {
  --color--background: var(--Morning-bg);
  --color--texto: var(--Morning-text);
  }
  
  .hamburger-button.Morning{
    --color--background: var(--Morning-bg); 
    --color--texto: var(--Morning-text);
  }
  .hamburger-button.Autumn {
    --color--background: var(--Autumn-bg); 
    --color--texto: var(--Autumn-text);
  }
  .hamburger-button.Cottagecore{
    --color--background: var(--Cottagecore-bg); 
    --color--texto: var(--Cottagecore-text);
  }
  .hamburger-button.DarkAcademia{
    --color--background: var(--DarkAcademia-bg);
    --color--texto: var(--DarkAcademia-text); 
  }
  .hamburger-button.LightAcademia{
    --color--background: var(--LightAcademia-bg);
    --color--texto: var(--LightAcademia-text);
  }
  .hamburger-button.Y2K{
    --color--background: var(--Y2K-bg);
    --color--texto: var(--Y2K-text);
  }
  .hamburger-button.CleanGirl{
    --color--background: var(--CleanGirl-bg);
    --color--texto: var(--CleanGirl-text);
  }
  .hamburger-button.ParisianChic{
    --color--background: var(--ParisianChic-bg);
    --color--texto: var(--ParisianChic-text);
  }
  .hamburger-button.SummerBeach{
    --color--background:var(--SummerBeach-bg);
    --color--texto: var(--SummerBeach-text); 
  }
  .hamburger-button.VanillaAesthetic{
    --color--background: var(--VanillaAesthetic-bg);
    --color--texto: var(--VanillaAesthetic-text);
  }
  .hamburger-button.CatVibe{
    --color--background: var(--CatVibe-bg);
    --color--texto: var(--CatVibe-text);
  }
  .hamburger-button.DogVibe{
    --color--background: var(--DogVibe-bg);
    --color--texto: var(--DogVibe-text);
  }