/* Estilos para el componente appTime
APP DISPLAY */
.app-container{
    display: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);  
}
.app-left{
    position:fixed;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 100;

}
.app-rigth{
    position:fixed;
    top: 0;
    right:0;
    height: 100vh;
    display: flex;
    z-index: 100;
}
.app-center{
    display:flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.time-container {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    align-self: center;
    align-items: center;
    cursor:grab;
    gap:2rem;
}
.hidden {
    visibility: hidden;
  }

.app-clock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
}

.option-button{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 253, 253);
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
    background: linear-gradient(to bottom, #444, #222); /* Degradado */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity:0.7;
}
.time-buttons{
    display: flex;
    flex-direction: column;
}