.settings-container {
    position: fixed;
    top: 50%;
    right:0%;
    transform: translateY(-50%);
  }
  
  .settings-icon {
    background-color: #374151; /* Gris oscuro */
    color: white;
    padding: 8px;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
  }
  
  .settings-panel {
    position: absolute;
    top: 0;
    right: 40px;
    width: 160px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 12px;
  }
  
  .panel-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .panel-options {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .panel-options li {
    padding: 8px;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .panel-options li:hover {
    background-color: #f3f4f6; /* Gris claro */
  }
  