.settings-panel {
  position: absolute;
  bottom: 105px;
  right: 0;
  width: 250px;
  background-color: rgba(55, 65, 81, 0.8); /* Gris oscuro con transparencia */
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 12px;
  opacity: 0.9; /* Opacidad del panel */
  z-index: 1000; /* Asegúrate de que el panel esté por encima de otros elementos */
}

.panel-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.panel-options {
  list-style: none;
  padding: 0;
  margin: 0;
}
